{% extends "layout.html" %}
{% block content %}
<title>About Tool Share</title>

<h1>About Tool Share</h1>
<p> <br> </p>
<div class ="terms">
<p style="text-align:center;"> Tool Share is a safe space where tool owners can post the tools, they have so the community can borrow. Homeowners who would like to do some DIY home or garden jobs can borrow the tools from neighbours. <br> <p>
  <p> <br> </p>
  <h3>How it works:<br></h3>  
  <p><br></p>
  <p> Register and create an account to borrow tools. Search the tool you want or the location you would like to borrow from. Find the tool add it to your basket and checkout. Its as simple as that. You can message the lender for more information and view the condition and availability of the tool. <br> </p>
    <p><br></p>
    <p>A small deposited will need to be taken just in case anything happens to the tool while its in your possession. But don’t worry, when the tool gets returned safely and in the right condition your money will be returned to you. You can also leave a review so more people can enjoy doing DIY jobs at the fraction of the cost.<br> </p>
  <p><br></p>
  <p style="text-align:center;">In a nut shell, Lenders can post their tools, availability and location so people can borrow them. </p>
  <p><br></p>
</div>
  <div class="parent">
        <img  src="/static/img/Picture1.jpg" class="center" />
      </div>
      <p><br></p>
      <p><br></p>
      <p><br></p>
{% endblock content %}
