{% extends "layout.html" %}
{% block content %}
<title>Terms & Conditions</title>

<h1>Terms & Conditions</h1>
<p><br></p>
<p><br></p>
<p><br></p>
<div class ="terms">

    <ol>
        <li>Tool share allows third party lenders to lend their tools to others.</li>
        <li>Tool share allows third party borrowers to borrow tools.</li>
        <li>You must only use Tool Share for the purpose of borrowing/lending tools.</li>
        <li>You must register and verify your email. </li>
        <li>You must input your bank details for your account to be created. </li>
        <li>Your details will be stored in a secured database.</li>
        <li>Verification methods will be used to validate your details. </li>
        <li>You may not use false identity or fake emails.</li>
        <li>Under 18s will not be allowed to use our services.</li>
        <p><br></p>
        <li>Only your general location will be shared. </li>
        <li >Abuse to all parties will not be tolerate, can lead to your account being inactivated and you will be unable to use the website. </li>
        <li>Tools must only be used for minor DIY and garden jobs and must be returned by the end of the loan period. </li>
        <li>Tool share reserves the right to removes accounts if deemed necessary. </li>
        <li>You must not use this service for fraudulent purposes or in connection with criminal offence or other unlawful activity. </li>
        <li>You must not use this service to cause damage to other people’s property or to cause annoyance, inconvenience or anxiety. </li>
        <li>It is your responsibility to use the tool as indented and keep it safe when it is in your possession. </li>
        <li>Users may post reviews, but it will be screened for disrespectful language. </li>
        <li>We are not responsible for the content of other websites which links we have used.</li>
        <li>We are not responsible for the loss or damage to your property.</li>
        <p><br></p>
        <li>We are not responsible for failure to comply with these conditions. </li>
        <li>The laws of the country/city you are in will be applied. </li>
        <li>We are not responsible for death or personal injury caused by negligence or wilful misconduct. </li>
        <li>We reserve the right to make any changes to our policy. These changes will take immediate effect. </li>
        <li>This website uses third party services, which have separate policies, terms of use and fees.</li>
        <li>This website is owned and maintained by Tool Share. </li>
        <li>You may delete your information and deactivate account. All you information will be deleted from the database 7 days after.</li>
        <li>This is not an exhausted list.</li>
        
        
      </ol>
    </div>
      <p><br></p>
      <p><br></p>
      <p><br></p>
{% endblock content %}
